@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);
    --Light-slate-blue: hsl(252, 100%, 67%);
    --Light-royal-blue: hsl(241, 81%, 54%);
    --Violet-blue: hsla(256, 72%, 46%, 1);
    --Persian-blue: hsla(241, 72%, 46%, 0);
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    font-size: 18px;
    font-family: 'Hanken Grotesk', sans-serif;
    min-height: 100vh;
}

.attribution {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.summary {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Pale-blue)
}

.container {
    background-color: var(--White);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 40%;
    border-radius: 20px;
    
}

.container .results {
    background-color: var(--Light-royal-blue);
    border-radius: 20px;
    height: 399px;
    text-align: center;
}

.container .results > p:first-child {
    color: hsl(241, 100%, 89%, 0.8);;
    margin: 35px 0px 20px;
    font-size: 23px;
}

.container .results .result-num {
    background-color: var(--Cobalt-blue);
    border-radius: 50%;
    text-align: center;
    width: 160px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 13px;
}

.container .results .result-num > p:first-child {
    color: white;
    font-size: 60px;
    margin-bottom: -10px;
}

.container .results .result-num > p:last-child {
    color: hsl(241, 100%, 89%, 0.4);
    font-size: 16px;
}

.container .results .result-text {
    width: 206px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    
}

.container .results .result-text p:nth-child(1) {
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}

.container .results .result-text p:last-child {
    color: hsl(241, 100%, 89%, 0.8);
    font-size: 15px;
    font-weight: 500;
}

.container .summ {
    padding: 40px 23px;
    position: relative;
}

.container .summ > p:first-child {
    color: var(--Dark-gray-blue);
    font-size: 20px;
    font-weight: 800;
}

.container .summ .box {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    font-size: 15px;
    border-radius: 8px;
    color: hsl(224, 30%, 27%, 0.8);
}

.container .summ .box:nth-child(2) {
    background-color: hsl(0, 100%, 67%, 0.1);
}

.container .summ .box:nth-child(3) {
    background-color: hsl(39, 100%, 56%, 0.1)
}

.container .summ .box:nth-child(4) {
    background-color: hsl(166, 100%, 37%, 0.1)
}

.container .summ .box:nth-child(5) {
    background-color: hsl(234, 85%, 45%, 0.1)
}

.container .summ .box span {
    color: hsl(224, 30%, 27%);
    font-weight: 800;
}

.container .summ .box:nth-child(2) .inbox {
    color: var(--Light-red);
    font-weight: 700;
}

.container .summ .box:nth-child(3) .inbox {
    color: var(--Orangey-yellow);
    font-weight: 700;
}

.container .summ .box:nth-child(4) .inbox {
    color: var(--Green-teal);
    font-weight: 700;
}

.container .summ .box:nth-child(5) .inbox {
    color: var(--Cobalt-blue);
    font-weight: 700;
}

.container .summ .box .inbox {
    display: flex;
    font-size: 15px;
    align-content: center;
}

.container .summ .box .inbox img {
    margin-right: 10px;
}

.container .summ .btn {
    background-color: var(--Dark-gray-blue);
    text-decoration: none;
    color: white;
    padding: 11px;
    width: calc(100% - 46px);
    position: absolute;
    display: block;
    text-align: center;
    border-radius: 40px;
    
}

@media (max-width: 375px) {
    .container {
        width: 100%;
        height: 100%;
        grid-template-rows: 1fr 1fr;
    }
}